In [1]:
import numpy as np
import pandas as pd
#package for JSON interaction
import json
#package to interact with URL's
import urllib2

#time to sleep
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

In [2]:
#function to parse 
def bike_parser(url,page_no):
    time.sleep(0.5)
    #open url
    f = urllib2.urlopen(url)

    #load json from URL, dict returned
    data = json.load(f)
    
    data_bikes = data['bikes']
    bike_df = pd.DataFrame(data_bikes,columns=['id','serial','title','manufacturer_name','frame_model','year','frame_colors','is_stock_img','large_img','thumb','stolen','date_stolen','stolen_location'])
    bike_df['url'] = url.encode('utf-8')
    bike_df['page_no'] = page_no

    return bike_df

In [30]:
#getting bikeindex record id's 

#creating blank df
bike_df = pd.DataFrame(columns=['id','serial','title','manufacturer_name','frame_model','year','frame_colors','is_stock_img','large_img','thumb','stolen','date_stolen','stolen_location','url','page_no'])
cont_flag = True
page_no = 1

In [31]:
while(cont_flag):
    url = 'https://bikeindex.org:443/api/v2/bikes_search?page=' + str(page_no) + '&per_page=80'

    #dataframe with 100 bikes that was read from url
    temp_bike_df = bike_parser(url,page_no)
    
    #checking # of records in page
    if (temp_bike_df.shape[0] == 0):
        print 'Reached end of Pages, # of pages read = %d, # of records read = %d'%(page_no,bike_df.shape[0])
        cont_flag = False
        break
    
    with open('bike_csv.csv', 'a') as f:
        if page_no == 1:
            temp_bike_df.to_csv(f, header=True,encoding='utf8')
        else:
            temp_bike_df.to_csv(f, header=False,encoding='utf8')

    #appending temp df to final df
    bike_df = bike_df.append(temp_bike_df,ignore_index=True)
    

    
    #inserting print to get an indication of number of pages parsed so far
    if page_no%10 == 0:
        print('Pages parsed = %d, Records parsed = %d'%(page_no,bike_df.shape[0]))
    
    page_no = page_no + 1

Pages parsed = 10, Records parsed = 800
Pages parsed = 20, Records parsed = 1600
Pages parsed = 30, Records parsed = 2400
Pages parsed = 40, Records parsed = 3200
Pages parsed = 50, Records parsed = 4000
Pages parsed = 60, Records parsed = 4800
Pages parsed = 70, Records parsed = 5600
Pages parsed = 80, Records parsed = 6400
Pages parsed = 90, Records parsed = 7200
Pages parsed = 100, Records parsed = 8000
Pages parsed = 110, Records parsed = 8800
Pages parsed = 120, Records parsed = 9600
Pages parsed = 130, Records parsed = 10400
Pages parsed = 140, Records parsed = 11200
Pages parsed = 150, Records parsed = 12000
Pages parsed = 160, Records parsed = 12800
Pages parsed = 170, Records parsed = 13600
Pages parsed = 180, Records parsed = 14400
Pages parsed = 190, Records parsed = 15200
Pages parsed = 200, Records parsed = 16000
Pages parsed = 210, Records parsed = 16800
Pages parsed = 220, Records parsed = 17600
Pages parsed = 230, Records parsed = 18400
Pages parsed = 240, Records parsed = 19200
Pages parsed = 250, Records parsed = 20000
Pages parsed = 260, Records parsed = 20800
Pages parsed = 270, Records parsed = 21600
Pages parsed = 280, Records parsed = 22400
Pages parsed = 290, Records parsed = 23200
Pages parsed = 300, Records parsed = 24000
Pages parsed = 310, Records parsed = 24800
Pages parsed = 320, Records parsed = 25600
Pages parsed = 330, Records parsed = 26400
Pages parsed = 340, Records parsed = 27200
Pages parsed = 350, Records parsed = 28000
Pages parsed = 360, Records parsed = 28800
Pages parsed = 370, Records parsed = 29600
Pages parsed = 380, Records parsed = 30400
Pages parsed = 390, Records parsed = 31200
Pages parsed = 400, Records parsed = 32000
Pages parsed = 410, Records parsed = 32800
Pages parsed = 420, Records parsed = 33600
Pages parsed = 430, Records parsed = 34400
Pages parsed = 440, Records parsed = 35200
Pages parsed = 450, Records parsed = 36000
Pages parsed = 460, Records parsed = 36800
Pages parsed = 470, Records parsed = 37600
Pages parsed = 480, Records parsed = 38400
Pages parsed = 490, Records parsed = 39200
Pages parsed = 500, Records parsed = 40000
Pages parsed = 510, Records parsed = 40800
Pages parsed = 520, Records parsed = 41600
Pages parsed = 530, Records parsed = 42400
Pages parsed = 540, Records parsed = 43200
Pages parsed = 550, Records parsed = 44000
Pages parsed = 560, Records parsed = 44800
Pages parsed = 570, Records parsed = 45600
Pages parsed = 580, Records parsed = 46400
Pages parsed = 590, Records parsed = 47200
Pages parsed = 600, Records parsed = 48000
Pages parsed = 610, Records parsed = 48800
Pages parsed = 620, Records parsed = 49600
Pages parsed = 630, Records parsed = 50400
Pages parsed = 640, Records parsed = 51200
Pages parsed = 650, Records parsed = 52000
Pages parsed = 660, Records parsed = 52800
Pages parsed = 670, Records parsed = 53600
Pages parsed = 680, Records parsed = 54400
Pages parsed = 690, Records parsed = 55200
Pages parsed = 700, Records parsed = 56000
Pages parsed = 710, Records parsed = 56800
Pages parsed = 720, Records parsed = 57600
Pages parsed = 730, Records parsed = 58400
Pages parsed = 740, Records parsed = 59200
Reached end of Pages, # of pages read = 748, # of records read = 59729

In [22]:
#checking if total number of records are read

#calling url to get response
f = urllib2.urlopen('https://bikeindex.org:443/api/v2/bikes_search?page=1')

#read total number of records from header
Total_rec_response = f.info().getheader('Total')


#bike_df = pd.read_csv('bike_csv.csv',header=0)

#Both must be equal
print 'Records in Response header %d,\n Records in final bike df %d'%(int(Total_rec_response),bike_df.shape[0])

Records in Response header 59724,
 Records in final bike df 59723

In [6]:
len(bike_df.id.unique())

51916

In [2]:
bike_df = pd.read_csv('bike_csv_100.csv',header=0)

In [7]:
bike_df.duplicated('id')
#bike_df.shape

(59722, 15)

In [4]:
#bike_df.loc[bike_df.duplicated('id'),]
bike_df.loc[bike_df.id == 61513,]

     Unnamed: 0     id  serial                  title manufacturer_name frame_model  year frame_colors is_stock_img large_img thumb stolen  date_stolen stolen_location                                                                url  page_no
297          97  61513  absent  2011 Novara randonnee            Novara   randonnee  2011      [Green]        False       NaN   NaN   True   1445234400  Alameda, 94501  https://bikeindex.org:443/api/v2/bikes_search?page=3&per_page=100        3
307           7  61513  absent  2011 Novara randonnee            Novara   randonnee  2011      [Green]        False       NaN   NaN   True   1445234400  Alameda, 94501  https://bikeindex.org:443/api/v2/bikes_search?page=4&per_page=100        4

In [107]:
x = bike_parser('https://bikeindex.org:443/api/v2/bikes_search?page=1&per_page=110',1)

In [108]:
x.shape

(100, 15)

In [43]:
bike_df.groupby('stolen').count()

,Unnamed: 0,id,serial,title,manufacturer_name,frame_model,year,frame_colors,is_stock_img,large_img,thumb,date_stolen,stolen_location
stolen,,,,,,,,,,,,,
False,26537,26537,26532,26537,26535,24108,17849,26537,26537,11900,11900,30,30
True,33173,33173,33163,33173,33173,30719,27139,33173,33173,16268,16268,33173,32784
stolen,0,1,1,1,1,1,1,1,1,1,1,1,1

In [82]:
time.strftime('%Y-%m-%d %H:%M:%S',time.gmtime(1446422520))

'2015-11-02 00:02:00'

In [85]:
time.strftime('%Y-%m-%d %H:%M:%S',time.gmtime(0))

'1970-01-01 00:00:00'

In [57]:
df.head(2)

,date_stolen,frame_colors,frame_model,id,is_stock_img,large_img,manufacturer_name,serial,stolen,stolen_location,thumb,title,year
0,1446184800,[White],Quick CX 3,61785,False,https://files.bikeindex.org/uploads/Pu/38855/l...,Cannondale,qm78307,True,"Santa Cruz, CA, 95062",https://files.bikeindex.org/uploads/Pu/38855/s...,2012 Cannondale Quick CX 3,2012
1,1446184800,"[Black, Red]",Sirrus Elite Carbon,61938,False,https://files.bikeindex.org/uploads/Pu/39197/l...,Specialized,WSBC604106563K,True,"San Francisco, 94107",https://files.bikeindex.org/uploads/Pu/39197/s...,2016 Specialized Sirrus Elite Carbon,2016

In [82]:
bike_df.to_csv("bike_df.csv",encoding='utf8')

In [32]:
#api does not follow the same order during searches, to address this pulled data 25,75,100,90 per page with the intention with multiple
#pulls we will be able to get more id's
bike1 = pd.read_csv('old_bike_csv.csv')
bike2 = pd.read_csv('bike_csv_100.csv')
bike3 = pd.read_csv('bike_csv_75.csv')
bike4 = pd.read_csv('bike_csv_90.csv')
bike5 = pd.read_csv('bike_csv_80.csv')

In [165]:
#bike2.id

In [34]:
id1 = bike1.id.unique().tolist()
id2 = bike2.id.unique().tolist()
id3 = bike3.id.unique().tolist()
id4 = bike4.id.unique().tolist()
id5 = bike5.id.unique().tolist()

In [35]:
id1 = [str(i) for i in id1]
id2 = [str(i) for i in id2]
id3 = [str(i) for i in id3]
id4 = [str(i) for i in id4]
id5 = [str(i) for i in id5]

In [36]:
id_f = id1
id_f.extend(id2)

In [37]:
id_f.extend(id3)

In [38]:
id_f.extend(id4)

In [39]:
id_f.extend(id5)

In [40]:
len(set(id_f))

59624

In [42]:
id_s = pd.Series(list(set(id_f)))

In [46]:
id_s.name = 'id'

In [49]:
id_s.to_csv?

In [50]:
id_s.to_csv("bike_id_master.csv",header=True)

In [98]:
bike = pd.read_csv('bike_csv.csv')

In [99]:
bike = bike.drop('Unnamed: 0',axis=1)

In [100]:
bike.shape

(59723, 15)

In [101]:
bike = bike.drop_duplicates('id')

In [70]:
bike.year

0        2013
1        2014
2        1995
3        2006
4        1985
5        2015
6        2015
7        2006
8        2015
9        1991
10       2008
11       2010
12       2015
13       2015
14       2013
15       2013
16       2011
17       2015
18       2015
19       2015
20        NaN
21       2015
22       2006
23       2015
24       2009
25       2015
26       2015
27       2009
28       2006
29        NaN
         ...
59633     NaN
59638    2011
59642    2015
59645     NaN
59648    1972
59655     NaN
59656     NaN
59658     NaN
59660    2016
59663     NaN
59665     NaN
59667     NaN
59668     NaN
59670    1992
59673     NaN
59676     NaN
59693     NaN
59696     NaN
59697     NaN
59698    2015
59702    2015
59704     NaN
59708    2015
59709    2015
59710     NaN
59711     NaN
59715    2009
59718    2015
59721    2012
59722    2016
Name: year, dtype: float64

In [102]:
bike['date_stolen_epoch'] = bike['date_stolen']

In [111]:
flag = np.isnan(bike['date_stolen'])

In [113]:
flag = [flag == False]

In [114]:
flag

[0         True
 1         True
 2         True
 3         True
 4         True
 5         True
 6         True
 7         True
 8         True
 9         True
 10        True
 11        True
 12        True
 13        True
 14        True
 15        True
 16        True
 17        True
 18        True
 19        True
 20        True
 21        True
 22        True
 23        True
 24        True
 25        True
 26        True
 27        True
 28        True
 29        True
          ...
 59633    False
 59638    False
 59642    False
 59645    False
 59648    False
 59655    False
 59656    False
 59658    False
 59660    False
 59663    False
 59665    False
 59667    False
 59668    False
 59670    False
 59673    False
 59676    False
 59693    False
 59696    False
 59697    False
 59698    False
 59702    False
 59704    False
 59708    False
 59709    False
 59710    False
 59711    False
 59715    False
 59718    False
 59721    False
 59722    False
 Name: date_stolen, dtype: bool]

In [105]:
len(bike['date_stolen_epoch'])

51991

In [116]:
bike['date_stolen'] = flag * bike['date_stolen_epoch']

Exception: Data must be 1-dimensional

In [110]:
bike['date_stolen']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
59633   NaN
59638   NaN
59642   NaN
59645   NaN
59648   NaN
59655   NaN
59656   NaN
59658   NaN
59660   NaN
59663   NaN
59665   NaN
59667   NaN
59668   NaN
59670   NaN
59673   NaN
59676   NaN
59693   NaN
59696   NaN
59697   NaN
59698   NaN
59702   NaN
59704   NaN
59708   NaN
59709   NaN
59710   NaN
59711   NaN
59715   NaN
59718   NaN
59721   NaN
59722   NaN
Name: date_stolen, dtype: float64

In [97]:
bike['date_stolen']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
59633   NaN
59638   NaN
59642   NaN
59645   NaN
59648   NaN
59655   NaN
59656   NaN
59658   NaN
59660   NaN
59663   NaN
59665   NaN
59667   NaN
59668   NaN
59670   NaN
59673   NaN
59676   NaN
59693   NaN
59696   NaN
59697   NaN
59698   NaN
59702   NaN
59704   NaN
59708   NaN
59709   NaN
59710   NaN
59711   NaN
59715   NaN
59718   NaN
59721   NaN
59722   NaN
Name: date_stolen, dtype: float64

In [96]:
li = list(bike['date_stolen'])
date_stolen_list = [time.strftime('%Y-%m-%d %H:%M:%S',time.gmtime(dt)) for dt in li]

ValueError: (22, 'Invalid argument')

In [81]:
li[0]

1446527122.0

In [75]:
bike['date_stolen'] = time.strftime('%Y-%m-%d %H:%M:%S',time.gmtime(list(bike['date_stolen_epoch'])))

TypeError: a float is required

In [63]:
stolen_grp = bike.groupby('stolen')
stolen_grp.describe()

               date_stolen            id is_stock_img       page_no          year
stolen
False  count  1.600000e+01  18850.000000        18850  18850.000000  12673.000000
       mean   1.356140e+09  40237.366313   0.06742706    511.330398   2016.469581
       std    1.273595e+08  16087.592297    0.2507668     85.621456    364.318767
       min    8.836344e+08      2.000000        False    369.000000      7.000000
       25%    1.374732e+09  33126.250000            0    433.000000   2011.000000
       50%    1.387562e+09  43055.500000            0    515.000000   2014.000000
       75%    1.399723e+09  52136.500000            0    582.000000   2015.000000
       max    1.415081e+09  61992.000000         True    664.000000  20156.000000
True   count  3.314000e+04  33141.000000        33141  33141.000000  27120.000000
       mean   1.341530e+09  24184.968890   0.09025075    184.988443   1954.993400
       std    8.601141e+07  15602.675937     0.286545    106.401379    318.239561
       min    5.119200e+06     34.000000        False      1.000000      0.000000
       25%    1.287036e+09  12113.000000            0     93.000000   2005.000000
       50%    1.359526e+09  20457.000000            0    185.000000   2009.000000
       75%    1.410934e+09  32491.000000            0    277.000000   2012.000000
       max    1.446527e+09  62000.000000         True    431.000000   9596.000000

In [24]:
li = [final_df1,final_df]

In [25]:
final_df = pd.concat(li,ignore_index=True)

In [26]:
final_df.shape

(2749, 13)

In [27]:
final_df.to_csv("seller_details_d.csv")