In [1]:
import numpy as np
import pandas as pd
#package for JSON interaction
import json
#package to interact with URL's
import urllib2

#time to sleep
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

In [65]:
#import os.path

#package_dir = os.path.abspath(os.path.dirname('Bike Theft'))
#database_path = os.path.join(package_dir, 'data\\BikeTheft')
#database_path

In [127]:
ourschema="""
DROP TABLE IF EXISTS "bike_id_master_list";
DROP TABLE IF EXISTS "bike_id_details";
CREATE TABLE "bike_id_master_list" (
    "id" INTEGER PRIMARY KEY  NOT NULL
);
CREATE TABLE "bike_id_details" (
    "id" INTEGER PRIMARY KEY NOT NULL,
    "title" VARCHAR,
    "serial" VARCHAR,
    "manufacturer_name" VARCHAR,
    "frame_model" VARCHAR,
    "year" VARCHAR,
    "thumb" VARCHAR,
    "large_img" VARCHAR,
    "is_stock_img" VARCHAR,
    "stolen" VARCHAR,
    "stolen_location" VARCHAR,
    "date_stolen" DATETIME,
    "registration_created_at" DATETIME,
    "registration_updated_at" DATETIME,
    "url" VARCHAR,
    "api_url" VARCHAR,
    "manufacturer_id" VARCHAR,
    "paint_description" VARCHAR,
    "name" VARCHAR,
    "frame_size" VARCHAR,
    "description" VARCHAR,
    "rear_tire_narrow" VARCHAR,
    "front_tire_narrow" VARCHAR,
    "type_of_cycle" VARCHAR,
    "test_bike" VARCHAR,
    "rear_wheel_size_iso_bsd" VARCHAR,
    "front_wheel_size_iso_bsd" VARCHAR,
    "handlebar_type_slug" VARCHAR,
    "frame_material_slug" VARCHAR,
    "front_gear_type_slug" VARCHAR,
    "rear_gear_type_slug" VARCHAR,
    "stolen_id" VARCHAR,
    "s_date_stolen" DATETIME,
    "s_location" VARCHAR,
    "latitude" INTEGER,
    "longitude" INTEGER,
    "theft_description" VARCHAR,
    "locking_description" VARCHAR,
    "lock_defeat_description" VARCHAR,
    "police_report_number" VARCHAR,
    "police_report_department" VARCHAR,
    "s_rec_created_at" DATETIME,
    "create_open311" VARCHAR,
    "sder_formatted_address" VARCHAR,
    "sder_street_number" VARCHAR,
    "sder_route" VARCHAR,
    "sder_postal_code" VARCHAR,
    "sder_neighborhood" VARCHAR,
    "sder_city" VARCHAR,
    "sder_county" VARCHAR,
    "sder_state" VARCHAR,
    "sder_country" VARCHAR,
    "date_stolen_epoch" INTEGER,
    "registration_created_at_epoch" INTEGER,
    "registration_updated_at_epoch" INTEGER,
    "s_rec_created_at_epoch" INTEGER
);
"""

In [2]:
ourschema="""
DROP TABLE IF EXISTS "bike_id_details";
CREATE TABLE "bike_id_details" (
    "id" INTEGER NOT NULL,
    "title" VARCHAR,
    "serial" VARCHAR,
    "manufacturer_name" VARCHAR,
    "frame_model" VARCHAR,
    "year" VARCHAR,
    "thumb" VARCHAR,
    "large_img" VARCHAR,
    "is_stock_img" VARCHAR,
    "stolen" VARCHAR,
    "stolen_location" VARCHAR,
    "date_stolen" DATETIME,
    "registration_created_at" DATETIME,
    "registration_updated_at" DATETIME,
    "url" VARCHAR,
    "api_url" VARCHAR,
    "manufacturer_id" VARCHAR,
    "paint_description" VARCHAR,
    "name" VARCHAR,
    "frame_size" VARCHAR,
    "description" VARCHAR,
    "rear_tire_narrow" VARCHAR,
    "front_tire_narrow" VARCHAR,
    "type_of_cycle" VARCHAR,
    "test_bike" VARCHAR,
    "rear_wheel_size_iso_bsd" VARCHAR,
    "front_wheel_size_iso_bsd" VARCHAR,
    "handlebar_type_slug" VARCHAR,
    "frame_material_slug" VARCHAR,
    "front_gear_type_slug" VARCHAR,
    "rear_gear_type_slug" VARCHAR,
    "stolen_id" VARCHAR,
    "s_date_stolen" DATETIME,
    "s_location" VARCHAR,
    "latitude" INTEGER,
    "longitude" INTEGER,
    "theft_description" VARCHAR,
    "locking_description" VARCHAR,
    "lock_defeat_description" VARCHAR,
    "police_report_number" VARCHAR,
    "police_report_department" VARCHAR,
    "s_rec_created_at" DATETIME,
    "create_open311" VARCHAR,
    "sder_formatted_address" VARCHAR,
    "sder_street_number" VARCHAR,
    "sder_route" VARCHAR,
    "sder_postal_code" VARCHAR,
    "sder_neighborhood" VARCHAR,
    "sder_city" VARCHAR,
    "sder_county" VARCHAR,
    "sder_state" VARCHAR,
    "sder_country" VARCHAR,
    "date_stolen_epoch" INTEGER,
    "registration_created_at_epoch" INTEGER,
    "registration_updated_at_epoch" INTEGER,
    "s_rec_created_at_epoch" INTEGER
);
"""

In [4]:
from sqlite3 import dbapi2 as sq3
import os
PATHSTART="."
def get_db(dbfile):
    sqlite_db = sq3.connect(os.path.join(PATHSTART, dbfile))
    return sqlite_db

In [5]:
def init_db(dbfile, schema):
    """Creates the database tables."""
    db = get_db(dbfile)
    db.cursor().executescript(schema)
    db.commit()
    return db

In [5]:
df=pd.read_csv("./data/bike_details_csv.csv")
df.tail(2)

,Unnamed: 0,id,title,serial,manufacturer_name,frame_model,year,thumb,large_img,is_stock_img,stolen,stolen_location,date_stolen,registration_created_at,registration_updated_at,url,api_url,manufacturer_id,paint_description,name,frame_size,description,rear_tire_narrow,front_tire_narrow,type_of_cycle,test_bike,rear_wheel_size_iso_bsd,front_wheel_size_iso_bsd,handlebar_type_slug,frame_material_slug,front_gear_type_slug,rear_gear_type_slug,stolen_id,s_date_stolen,s_location,latitude,longitude,theft_description,locking_description,lock_defeat_description,police_report_number,police_report_department,s_rec_created_at,create_open311,sder_formatted_address,sder_street_number,sder_route,sder_postal_code,sder_neighborhood,sder_city,sder_county,sder_state,sder_country,date_stolen_epoch,registration_created_at_epoch,registration_updated_at_epoch,s_rec_created_at_epoch
59617,60672,9988,Univega,getting!,Univega,NaN,NaN,NaN,NaN,False,True,"Portland, OR, 97211",2009-08-07 06:00:00,2009-08-08 06:00:00,2015-11-09 05:20:09,https://bikeindex.org/bikes/9988,https://bikeindex.org/api/v1/bikes/9988,329,NaN,NaN,5in,"When I last saw it it had a blue alpenrose basket on the back, and a worn out green pannier on the left of the back rack. I had taken off the black foamy grips on the top left side and replaced it with a gross purple bandana. There are bits of brown bandana tied around the headset as well. I also had a bell with a pony on it, on the left hand side. There is a March 4th Marching band sticker on the seat part of the frame, as well as one of those Heart Oregon stickers.",True,NaN,Bike,False,NaN,NaN,NaN,NaN,NaN,NaN,6337,1249624800,"Portland, OR, 97211",45.558846,-122.655489,"NE 14th just two blocks south of Prescott. Side of the house, an hour and a half ago. One of the hosue mates here saw a man walking away with my bike, and was too sleepy to think that it might not be his bike.",NaN,NaN,NaN,NaN,2014-06-14 17:16:40,False,"4938 NE 10th Ave, Portland, OR 97211, USA",4938,Northeast 10th Avenue,97211,Northeast Portland,Portland,Multnomah County,Oregon,United States,1249624800,1249711200,1447046409,1402766200
59618,60673,9989,2000 Kona,absent,Kona,NaN,2000,NaN,NaN,False,True,OR,2014-01-27 06:00:00,2014-01-27 06:00:00,2015-11-09 05:09:08,https://bikeindex.org/bikes/9989,https://bikeindex.org/api/v1/bikes/9989,203,NaN,NaN,NaN,Easy seat. One of the few bikes I have seen with this style of seat,True,NaN,Bike,False,NaN,NaN,NaN,NaN,NaN,NaN,6336,1390802400,OR,NaN,NaN,Nw burnside Reward: 15,NaN,NaN,NaN,NaN,2014-06-14 17:16:40,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1390802400,1390802400,1447045748,1402766200

In [6]:
df=df.drop('Unnamed: 0',axis=1)

In [7]:
db=init_db("bike_theft.db", ourschema)

In [8]:
db.text_factory = str

In [9]:
df.to_sql("bike_id_details", db, if_exists="append", index=False)

In [113]:
df=pd.read_csv("./data/bike_id_master.csv")
df.head(2)
df=df.drop('Unnamed: 0',axis=1)

In [118]:
#removing id
df=df.drop(df.index[22894])

In [122]:
np.mean(df.id == 'id')

0.0

In [ ]:
db=init_db("bike_theft.db", ourschema)
df.to_sql("bike_id_master_list", db, if_exists="append", index=False)

In [134]:
sel="""
SELECT * FROM bike_id_master_list;
"""
c=db.cursor().execute(sel)

In [136]:
def make_frame(list_of_tuples, legend=cont_cols):
    framelist=[]
    for i, cname in enumerate(legend):
        framelist.append((cname,[e[i] for e in list_of_tuples]))
    return pd.DataFrame.from_items(framelist)

NameError: name 'cont_cols' is not defined

In [2]:
import numpy as np
import pandas as pd
#package for JSON interaction
import json
#package to interact with URL's
import urllib2

#package to using google api
import pygeocoder as geo

#package to get nearby places
import googleplaces as places

#time to sleep
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

In [2]:
df = pd.read_csv("bike_details_csv.csv")

In [3]:
df_sub = df.loc[df.stolen == True, ['id','latitude','longitude']]

In [6]:
#getting id's already loaded
df_loaded = pd.read_csv("places_details_csv.csv")
df_loaded.columns = ['index','bike_id','google_place_id','place_lat','place_lng','place_name','place_types']

df_loaded_id = df_loaded.bike_id.unique()
len(df_loaded_id)

32059

In [5]:
len(df_sub.id.unique()) - len(df_loaded_id)

4472

In [6]:
#verifying
df_sub = df_sub[~df_sub['id'].isin(df_loaded_id)]
len(df_sub.id.unique())

4472

In [7]:
df_sub = df_sub.reset_index()
df_sub=df_sub.drop('index',axis=1)
#sorting column to maintain integrity
df_sub.sort(columns='id',inplace=True)

In [8]:
df_sub.head(2)

       id  latitude  longitude
359   116       NaN        NaN
4464  701       NaN        NaN

In [12]:
df_sub[~df_sub['longitude'].apply(np.isnan)].shape

(3349, 3)

In [22]:
#sample = df_sub.loc[0:0,:]

#lat = float(sample.latitude.values[0])
#lng = float(sample.longitude.values[0])
#bike_id = sample.id.values[0]

In [46]:
#just a sample of direct google api
#lat = 37.3290122
#lng = -121.9160211

#latlng = lat +','+lng
#url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+latlng+'&sensor=true'

In [9]:
#google places may come in handy latter, yet to figure it out
#office key ip - 13.13.16.1
YOUR_API_KEY = 'AIzaSyCxly_vkvF6_yoTOw8RdzUioAWRT_1bSEs'

google_places = places.GooglePlaces(YOUR_API_KEY)

In [82]:
#1000 meters is approx 0.5 mile
x=google_places.nearby_search(lat_lng={'lat':lat,'lng':lng},radius=1000)

In [10]:

def extract_places(bike_id,lat,lng,YOUR_API_KEY):
    
    google_places = places.GooglePlaces(YOUR_API_KEY)
    plc=google_places.nearby_search(lat_lng={'lat':lat,'lng':lng},radius=1000)
    
    places_df = pd.DataFrame()

    for place in plc.places:
        df_dict = {}
        df_dict['bike_id'] = bike_id
        df_dict['place_name'] = place.name
        df_dict['place_types'] = [place.types]
        df_dict['place_lat'] = place.geo_location['lat']
        df_dict['place_lng'] = place.geo_location['lng']
        df_dict['google_place_id'] = place.place_id

        df_temp = pd.DataFrame(df_dict)
    
        if places_df.shape[0] == 0:
            places_df = df_temp.copy()
        else:
            places_df = places_df.append(df_temp,ignore_index=True)
            
    col_order = ['bike_id','google_place_id','place_lat','place_lng','place_name','place_types']
        
    with open('places_details_csv.csv', 'a') as f:
        places_df.to_csv(f, header=False,encoding='utf8',columns=col_order)

In [11]:
ctr = 0
for i, row in df_sub.iterrows():
    ctr = ctr+1
    lat = float(row['latitude'])
    lng = float(row['longitude'])
    bike_id = row['id']
    
    if (np.isnan(lat) == False and np.isnan(lat) == False):
        extract_places(bike_id,lat,lng,YOUR_API_KEY)
        
    if (ctr%100 == 0):
        print ctr

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400

In [3]:
df = pd.read_csv("places_details_csv.csv")

In [4]:
df.columns = ['index','bike_id','google_place_id','place_lat','place_lng','place_name','place_types']

In [6]:
df_g = df.groupby('bike_id')

In [10]:
df_g.bike_id['place_name']

NotImplementedError: Not implemented: place_name

In [33]:
#df.head(10)

In [34]:
x=df.loc[:,['bike_id','place_types']]

In [35]:
x.head(1)

   bike_id                                              place_types
0    10000  [parking, car_repair, point_of_interest, establishment]

In [48]:
word_d = {}
for i, row in enumerate(x.place_types):
    i,row, li = i, row, row.split(',')
    for word in li:
        word = word.replace('[','')
        word = word.replace(']','')
        word = word.replace(' ','')
        
        word = word
        if word_d.get(word,'None') == 'None':
            word_d[word] = 1
        else:
            word_d[word] = word_d[word] + 1

In [58]:
len(word_d.keys())

107

In [55]:
sorted(word_d.items(), key=lambda x: x[1], reverse=True)

[('establishment', 572316),
 ('point_of_interest', 562735),
 ('food', 153769),
 ('store', 118134),
 ('restaurant', 113574),
 ('bar', 68976),
 ('lodging', 61027),
 ('political', 60396),
 ('school', 50902),
 ('health', 49511),
 ('neighborhood', 47978),
 ('cafe', 18846),
 ('home_goods_store', 18655),
 ('park', 17845),
 ('place_of_worship', 16330),
 ('museum', 14886),
 ('church', 14239),
 ('grocery_or_supermarket', 13860),
 ('general_contractor', 13330),
 ('car_repair', 13119),
 ('university', 12579),
 ('bakery', 12296),
 ('doctor', 12260),
 ('meal_takeaway', 11943),
 ('night_club', 11073),
 ('locality', 10795),
 ('clothing_store', 10422),
 ('finance', 9740),
 ('hospital', 8769),
 ('electronics_store', 8342),
 ('movie_theater', 8103),
 ('library', 7588),
 ('gym', 6816),
 ('florist', 6265),
 ('liquor_store', 5932),
 ('car_dealer', 5819),
 ('book_store', 5819),
 ('furniture_store', 5300),
 ('stadium', 4919),
 ('convenience_store', 4865),
 ('dentist', 4691),
 ('art_gallery', 4669),
 ('beauty_salon', 4460),
 ('local_government_office', 4232),
 ('pharmacy', 4093),
 ('shopping_mall', 4072),
 ('real_estate_agency', 3965),
 ('spa', 3785),
 ('department_store', 3587),
 ('shoe_store', 3583),
 ('hair_care', 3508),
 ('meal_delivery', 3426),
 ('parking', 3119),
 ('veterinary_care', 3037),
 ('hardware_store', 2943),
 ('atm', 2594),
 ('bicycle_store', 2501),
 ('bank', 2318),
 ('post_office', 2315),
 ('storage', 2102),
 ('cemetery', 1783),
 ('jewelry_store', 1569),
 ('travel_agency', 1356),
 ('gas_station', 1345),
 ('bowling_alley', 1220),
 ('synagogue', 1216),
 ('moving_company', 1213),
 ('insurance_agency', 1211),
 ('pet_store', 1200),
 ('sublocality', 867),
 ('lawyer', 826),
 ('sublocality_level_1', 816),
 ('plumber', 816),
 ('amusement_park', 778),
 ('transit_station', 771),
 ('aquarium', 750),
 ('police', 737),
 ('courthouse', 737),
 ('laundry', 724),
 ('colloquial_area', 697),
 ('fire_station', 690),
 ('embassy', 626),
 ('funeral_home', 609),
 ('accounting', 607),
 ('natural_feature', 549),
 ('city_hall', 546),
 ('airport', 522),
 ('physiotherapist', 469),
 ('car_wash', 459),
 ('rv_park', 443),
 ('electrician', 442),
 ('painter', 402),
 ('roofing_contractor', 369),
 ('zoo', 341),
 ('casino', 334),
 ('train_station', 324),
 ('bus_station', 245),
 ('campground', 185),
 ('locksmith', 181),
 ('movie_rental', 164),
 ('car_rental', 93),
 ('mosque', 51),
 ('sublocality_level_2', 50),
 ('subway_station', 31),
 ('hindu_temple', 31),
 ('taxi_stand', 3),
 ('sublocality_level_3', 1)]

In [31]:
x.shape

(632648, 1)

In [152]:
len(df.bike_id.unique())

839

In [3]:
ourschema="""
DROP TABLE IF EXISTS "stolen_places_details";
CREATE TABLE "stolen_places_details" (
    "index" INTEGER NOT NULL,
    "bike_id" INTEGER NOT NULL,
    "google_place_id" INTEGER,
    "place_lat" INTEGER,
    "place_lng" INTEGER,
    "place_name" VARCHAR,
    "place_types" VARCHAR
);
"""

In [9]:
db=init_db("bike_theft.db", ourschema)
db.text_factory = str
df_loaded.to_sql("stolen_places_details", db, if_exists="append", index=False)